.popup{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

   display: flex;
   justify-content: center;

    text-align: center;
    position: sticky;
   
    top:0;

    z-index: 3;


  margin: 100px;
   display: block;

}


body{
    background-color: rgb(131, 171, 246);

}

.fa-sharp {
   margin-left: 800px;
   padding-top: 10px;
}
i:hover {
    cursor: pointer;
}